.headerContainer{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
    // border: 1px solid black;
    background-color: #dc3545;
    padding: 0 80px;
    
    
    .searchContainer{
        margin-left: 20px;
        display: flex;
        width: 10%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .logoContainer{
        display: flex;
        width: 70%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: Sitka Display;
    } 
    .footerlogo{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: Sitka Display;
    }
    .optionContainer{
        display: flex;
        width: 30%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        // border: 1px solid black;

        .option-top{
            display: flex;
            height: 50%;
            width: 100%;
            justify-content:flex-end;
            align-items: center;
            // border: 1px solid black;
            .option-top-option{ 
                margin: 3px 6px;
                font-family: roboto;
                opacity: 0.7;
                // border: 1px solid black;
                color: black;
            }
        }
        .option-bottom{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .option-bottom-option{
                margin: 3px 6px;
                text-decoration: none;
                font-family: roboto;
                opacity: 0.7;
                // border: 1px solid black;
                color: black;
            }

        }
    }
}